repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: requirements-txt-fixer
          - id: check-case-conflict
          - id: check-ast
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-json
          - id: check-yaml
          - id: check-toml
          - id: debug-statements
          - id: trailing-whitespace
          - id: end-of-file-fixer

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: 0.36.0
      hooks:
          - id: check-github-workflows

    - repo: https://github.com/psf/black
      rev: 25.12.0
      hooks:
          - id: black
          - id: black-jupyter

    - repo: https://github.com/myint/autoflake
      rev: v2.3.1
      hooks:
          - id: autoflake
            args:
                - --in-place
                - --remove-all-unused-imports
                - --expand-star-imports
                - --remove-duplicate-keys
                - --remove-unused-variables
                - --ignore-init-module-imports

    - repo: https://github.com/pycqa/isort
      rev: 7.0.0
      hooks:
          - id: isort
            args: ["--order-by-type", "--length-sort", "black"]
            name: isort (python)

    - repo: https://github.com/nbQA-dev/nbQA
      rev: 1.9.1
      hooks:
          - id: nbqa-black
            additional_dependencies: [jupytext] # optional, only if you're using Jupytext
            args: ["--nbqa-shell"]
          - id: nbqa-pyupgrade
            args: ["--py312-plus"]
          - id: nbqa-isort
            args: ["--float-to-top"]

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.21.2
      hooks:
          - id: pyupgrade
            args: ["--py312-plus"]

    - repo: https://github.com/kynan/nbstripout
      rev: 0.8.2 # or latest stable tag
      hooks:
          - id: nbstripout
            name: Strip Jupyter notebook outputs
            types: [jupyter]
