pandas>=2.2.2
openpyxl>=3.1.2
yfinance>=0.2.43
matplotlib>=3.7.2
black>=23.7.0
jupyter>=1.1.1
pre-commit>=3.8.0
python-dotenv>=1.0.1
pyrate_limiter>=2.10.0
requests>=2.32.3
requests_cache>=1.2.1
requests_ratelimiter>=0.7.0