black>=23.7.0
jupyter>=1.1.1
matplotlib==3.10.1
numpy==2.2.3
openpyxl==3.1.5
pandas==2.2.3
pre-commit==4.1.0
pyrate_limiter==2.10.0
python-dotenv==1.0.1
requests==2.32.4
requests_cache==1.2.1
requests_ratelimiter==0.7.0
StockETL==0.5.19
yfinance==0.2.54
nbstripout==0.8.1
