# PROJECT_DIR: Specifies the root directory of the project.
# It is used as the base path for locating and managing files within the project.
PROJECT_DIR="C:/Users/prashant.tripathi/Code/PortfolioTracker/"
# FOR GITHUB
# PROJECT_DIR="/home/runner/work/PortfolioTracker/PortfolioTracker"

# PYDEVD_DISABLE_FILE_VALIDATION: Disables file validation in the Python debugger (useful for smoother debugging in some environments like Jupyter).
# This setting is particularly helpful if you're working in an IDE like PyCharm or VSCode, which may otherwise show unnecessary file validation errors.
PYDEVD_DISABLE_FILE_VALIDATION=1
